h1 {
    color:green;
    text-align:center
}

h2 {
    text-align:center;
}
body {
    background-color:rgb(220, 248, 209)}
img {
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 0 auto;
}

.img_small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%
}

.list {
    float: left;
}

.position {
    float: left;
    padding-left:4em 
}

.clear {
    clear: left;
}
